<h1>Applications Information</h1>
<p>
	This page will display basic information about the Applications in our system.
	It also allows users to Add, Edit, and Delete Applications in our system.
</p>

<div>
	<h2>
		Add a new Application:
	</h2>
	<form action="">
		<input type="text" placeholder="Name of application">
		<input type="text" placeholder="Type of application">
		<input type="submit" value="Add application">
	</form>
</div>
<div>
	<h2>Display all Applications:</h2>
	<table style="border 1px solid black">
		<thead>
			<tr>
				<th style="border: 1px solid black">appID</th>
				<th style="border: 1px solid black">appName</th>
				<th style="border: 1px solid black">appType</th>
				<th style="border: 1px solid black">Edit</th>
				<th style="border: 1px solid black">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each dataList}}
			<tr>
				<td style="border: 1px solid black">{{this.appID}}</td>
				<td style="border: 1px solid black">{{this.appName}}</td>
				<td style="border: 1px solid black">{{this.appType}}</td>
				<td style="border: 1px solid black"><button>Edit</button></td>
				<td style="border: 1px solid black"><button>Delete</button></td>

			</tr>
			{{/each}}
		</tbody>
	</table>
</div>