<!-->
simple Bootstrap Navbar from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
<-->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header"></div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://127.0.0.1:31337/">Home</a></li>
			<li><a href="http://127.0.0.1:31337/addresses">Addresses</a></li>
			<li><a href="http://127.0.0.1:31337/applications">Applications</a></li>
			<li><a href="http://127.0.0.1:31337/app_instances">Application_Instances</a></li>
			<li><a href="http://127.0.0.1:31337/controls">Controls</a></li>
			<li><a href="http://127.0.0.1:31337/control_instances">Control_Instances</a></li>
			<li><a href="http://127.0.0.1:31337/guides">Guides</a></li>
			<li><a href="http://127.0.0.1:31337/workstations">Workstations</a></li>
		</ul>
	</div>
</nav>

<h1>Certification and Accreditation Tracker</h1>
<h2>Team: Vox Machina - Francis Dailig, David Walsh</h2>
<h3>About this database:</h3>
<div>
	<p>
		Our Company is performing a Certification and Accreditation on our small Local Area Network.
		We need to accredit our systems so that we can receive approval to connect them to a US Government Research,
		Development, and Testing Network which would allow us to better collaborate with government agencies on our
		research projects.
	</p>
	<p>
		The Database will help us keep track of what actions we need to take to secure our computers.
		It will help us track which systems which require which hardening guides and which security controls need to
		be implemented.
		The DB will allow us to track our completion rate and our compliance.
	</p>
</div>
<div>
	<h4>List of tables:</h4>
	<ul>
		<li>
			<a href="http://127.0.0.1:31337/addresses">Addresses</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/applications">Applications</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/app_instances">Application_Instances</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/controls">Controls</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/control_instances">Control_Instances</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/guides">Guides</a>
		</li>
		<li>
			<a href="http://127.0.0.1:31337/workstations">Workstations</a>
		</li>
	</ul>
</div>