<h1>Certification and Accreditation Tracker</h1>
<h3>Team: Vox Machina - Francis Dailig, David Walsh</h4>
	<div>
		<h4>List of tables:</h4>
		<ul>
			<li>
				<a href="http://127.0.0.1:31337/workstations">Workstations</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/applications">Applications</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/guides">Guides</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/controls">Controls</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/app_instances">Application_Instances</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/addresses">Addresses</a>
			</li>
			<li>
				<a href="http://127.0.0.1:31337/control_instances">Control_Instances</a>
			</li>
		</ul>
	</div>